/*Specifikt til computere - Fuld HTML*/

@media only screen and (min-width: 821px){
    
    .hide-tablet{
        display: block;
    }

    .hide-website{
        display: none;
    }

    body{
        height: 100vh;
    }

    main{
        height: calc(100vh - 4rem);
        overflow-x: scroll;
        scroll-behavior: smooth;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #contact-white{
        height: 100%;
        width: 70vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #splash{
        height: 100%;
        width: 100vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background: transparent;
    }

    #about{
        height: 100%;
        width: 70vw;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #skills{
        height: 100%;
        width: 80vw;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #projects{
        height: 100%;
        width: 95vw;
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #contact-black{
        height: 100%;
        width: 80vw;
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    h1{
       font-size: 2rem; 
    }

    h2{
        font-size: 1.5rem;
    }

    /*CSS til forside*/

    .grid-splash{
        grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
        grid-template-rows: 1fr 2fr 1fr 1fr 3fr 1fr;
    }

    .splash-image-wrapper{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 7;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .splash-image{
        object-fit: cover;
        object-position: center;
    }

    .light-text{
        color: #E1E8EE;
    }

    .white-box{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .portrait{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .name{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-left: 2rem;
        display: flex;
        justify-content: center;
    }

    .intro-wrapper{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-left: 1rem;
        display: flex;
        justify-content: center;
    }

    .intro{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .more-about-me{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        justify-content: flex-end;
        padding-right: 1.5rem;
        align-items: flex-end;
    }
    
    .contact-promt{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        padding-left: 0;
        padding-top: 1rem;
        width: 50%;
    }

    .contact-here{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        align-items: flex-end;
        padding-left: 1.5rem;
    }
    
    .scroll-button-wrapper{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
        padding-bottom: 0;
        padding-right: 1.5rem;
        
    }

    .scroll-button{
        transform: rotate(0deg);
        flex-direction: row-reverse;
        border-radius: 25px 2px 25px 2px;
    } 

    .icon-direction{
        transform: rotate(180deg);
    }

    @keyframes bounce {
        0%   { transform: translateX(0); }
        10%  { transform: translateX(0); }
        30%  { transform: translateX(-25px); }
        50%  { transform: translateX(0); }
        57%  { transform: translateX(-5px); }
        64%  { transform: translateX(0); }
        100% { transform: translateX(0); }
    }

    .buttons{
        border: solid 2px #151515;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-size{
        font-size: 3rem;
    }

    .white-button-wrapper{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1.5rem;
    }

   .white-button{
        background-color: #E1E8EE;
    }

   .white-button:hover{
        box-shadow: inset 5px 5px 12px #000;
   }
    
   .black-button-wrapper{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
   }

    .black-button{
        background-color: #151515;
    }
    
    .black-button:hover{
        box-shadow: inset 5px 5px 12px rgba(202, 215, 228, 1);
    }

    /*CSS til om mig*/
    .about-grid{
        padding: 3rem;
        padding-right: 2rem;
    }

    /* css og grids til kompetence sektionen*/

    .grid-skills{
        grid-template-columns: 8rem 1fr 1fr 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr;
    }

    .skills-one{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        margin-bottom: 8rem;
    }

    .concept-image{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .ui-image{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .proto-image{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .html-image{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start:3;
        grid-row-end: 4;
    }
    
    .ani-image{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .foto-image{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .concept-text{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .ui-text{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .proto-text{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .html-text{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .ani-text{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .foto-text{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    /*css til projekter*/
    .grid-projects{
        grid-template-columns: 8rem 1fr;
        grid-template-rows: 1fr;
        padding-top: 0;
    }
    
    .projects-two{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 8rem;
    }
    
    .carousel{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-template-columns: 1fr 1.4fr 2fr 1.4fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .box-wrapper{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        word-break: break-word;
    }
    
    .box-small{
        height: 20rem;
        max-width: 15rem;
    }

    .title-large{
        font-size: 2.2rem;
    }
    
    .box-medium{
        height: 25rem;
        max-width: 20rem;
    }
    
    .box-large{
        height: 30rem;
        max-width: 30rem;
    }

    .project-logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .project-redesign{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .redesign{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .project-portfolio{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .portfolio{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .project-concept{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .concept{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .project-css{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    /*contact grids*/

    /* light contact*/
   
    .grid-contact-light{
        display: grid;
        grid-template-columns: 6rem 1.3fr 1fr 3rem;
        grid-template-rows: 6rem 0.25fr 1fr 0.25fr 6rem;
    }

    .icon-contact-light{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 6;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .address-light{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
    }

    .form-light{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        border: solid 2px #151515;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.5rem 1rem 1rem 1rem;
        height: 24rem;
        background-color: rgb(255,255,255);
        background: radial-gradient(ellipse, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
        color:#192233;
        box-shadow: 10px 10px 24px #000;
    }
    
    .info-light{
        border: solid 2px rgba(21, 21, 21, 0.5);
        border-radius: 2px;
        color: rgba(25, 34, 51, 0.5);
        height: 2rem;
        padding-left: 0.5rem;
        box-shadow: inset 5px 5px 12px rgba(21, 21, 21, 0.25);
    }
    
    .message-light{
        border: solid 2px rgba(21, 21, 21, 0.5);
        border-radius: 2px;
        color: rgba(25, 34, 51, 0.5);
        height: 6rem;
        padding-left: 0.5rem;
        box-shadow: inset 5px 5px 12px rgba(21, 21, 21, 0.25);
    }
    
    .light-send-button{
        border: solid 2px #151515;
        border-radius: 2px;
        height: 3rem;
        width: 9.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E1E8EE;
        box-shadow: 5px 5px 12px #000;
    }

    .light-send-button:hover{
        background-color: #CAD7E4;
        box-shadow: inset 5px 5px 12px #000;
    }

    /*dark contact*/
    .grid-contact-black{
        grid-template-columns: 8rem 1.2fr 1fr 6rem;
        grid-template-rows: 6rem 0.25fr 1fr 0.25fr 6rem;
    }

    .contact-three{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 6;
        margin-bottom: 8rem;
    }
    
    .address-black{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        padding: 1rem;
    }

    .form-black{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        margin: 0;
    }

    .icon-contact{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
    }

    /* css til vertikale headings*/
    
    .line-horizontal{
        width: 2px;
        height: 5rem;
        margin-top: 7px;
        background-color: #CAD7E4;
    }

    .text-light{
        transform: rotate(-90deg);
        padding-right: 4rem;
        padding-bottom: 0.3rem;
    }

    .extra-padding{
        padding-right: 7rem;
    }

    .headings-wrapper{
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
}