/* Specifikt til tablets - Fuld HTML*/

@media only screen and (min-width: 426px) { /* Stylet til ipad Air */

    header{
        padding-left: 1rem;
        padding-right: 1rem;
        height: 4rem;
    }

    .logo-wrapper{
        height: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .hide-mobil{
        display: block; 
    }
    
    /* 
    !important gør at den overrider, 
    men det vil sige at hvis jeg 
    lavede en mediaquery 
    ved en højere breaking point, 
    ville det override der. Behøvede
    ikke at bruge det aligevel.
    */

    .hide-tablet{
        display: none;
    }
    
    section{
        height: calc(95vh - 4rem);
    }

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }

    h6{
        font-weight: 600;
        font-size: 1.2rem;
    }
    
    /* CSS og Grid til forside*/

    .grid-splash{
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    }

    .mobile-splash-image{ /* Skal måske have det til kun at fylde halvdelen af sectionen, kommer an på billedet*/
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
        object-position: 30% 50%;
    }

    .name{
        padding-left: 2rem;
    }

    .intro-wrapper{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-left: 2rem;
        padding-right: 8rem;
    }
    
    .contact-promt{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        padding-left: 2rem;
    }

    .contact-splash-wrapper{    
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        padding-top: 1rem;
    }

    .contact-splash{
        height: 5rem;
        width: 13.5rem;
        font-size: 1.7rem;
        font-weight: 600;
    }

    .scroll-button-wrapper{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
    }

    .icon-splash{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 6;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    /* css og grid til om mig siden*/
    
    .about-grid{
        display: grid;
        grid-template-columns: 1fr 0.25fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        padding: 2rem;
        padding-bottom: 0;
        height: 55vh;
    }

    .who{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        text-shadow: 5px 5px 12px rgba(0,0,0,1);
    }

    .about-info{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .about-image-wrapper{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .about-image{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        box-shadow: 10px 10px 24px #000;
        border: solid 2px #151515;
        border-radius: 2px;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .filter{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background: linear-gradient(rgba(21, 21, 21,0.0), #151515);
    }
    
    /*Grafiske vertikale headings*/

    .numbers-light{
        font-size: 4rem;
        font-weight: 700;
    }

    .line-horizontal{
        width: 5rem;
        height: 2px;
        margin-top: 7px;
        background-color: #CAD7E4;
    }

    .text-light{
        font-size: 1.5rem;
        font-weight: 500;
    }

    .headings-wrapper{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 3px;
    }

    .headings-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* css til kompetence sektionen*/
    .grid-skills{
        grid-template-rows:  8rem 1fr 1fr 1fr;
    }

    .skills-one{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .concept-image{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .ui-image{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .proto-image{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .html-image{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end: 4;
    }
    
    .ani-image{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .foto-image{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .concept-text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .ui-text{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .proto-text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .html-text{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .ani-text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .foto-text{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    /* css til projekter*/
    .grid-projects{
        display: grid;
        grid-template-rows: 8rem 1fr;
        padding-top: 0;
    }
    
    .projects-two{
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .carousel{
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
    }
    
    .box-small{
        height: 20rem;
    }
    
    .box-medium{
        height: 20rem;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .box-large{
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .logo-design{
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
    }

    .project-redesign{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .redesign{
        width: 85%;
        height: 95%;
        object-fit: cover;
        object-position: 50% 20%;
    }

    .project-portfolio{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .portfolio{
        width: 60%;
        height: 90%;
        object-fit: cover;
        object-position: 50% 30%;
    }

    .project-concept{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .concept{
        width: 80%;
        height: 95%;
        object-fit: cover;
        object-position: 50% 20%;
    }

    .project-css{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .animation{
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
    }

    /* css til kontakt sektionen */
    
    .grid-contact-black{
        grid-template-columns: 3.5rem 1fr 3.5rem;
        grid-template-rows: 8rem 1fr 2fr;
        padding-top: 0;
    }

    .contact-three{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .address-black{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-bottom: 1rem;
    }

    .form-black{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-bottom: 4.5rem;
    }

    .icon-contact{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    

    


}

