/* Specifikt til tablets - Fuld HTML*/

@media only screen and (min-width: 426px) { /* Stylet til ipad Air */
    
    body{
        height: calc(100vh - 4rem); /* For at undgå overflow på y*/
    }

    header{
        padding-left: 1rem;
        padding-right: 1rem;
        height: 4rem;
    }

    .hide-mobil{
        display: block; 
    }
    
    /* 
    !important gør at den overrider, 
    men det vil sige at hvis jeg 
    lavede en mediaquery 
    ved en højere breaking point, 
    ville det override der.
    */

    .hide-tablet{
        display: none;
    }
    
    section{
        height: calc(95vh - 4rem);
    }
    }