/* Specifikt til tablets - Fuld HTML*/

@media only screen and (min-width: 426px) { /* Stylet til ipad Air */
    
    body{
        height: calc(100vh - 4rem); /* For at undgå overflow på y*/
    }

    header{
        padding-left: 1rem;
        padding-right: 1rem;
        height: 4rem;
    }

    .hide-mobil{
        display: block; 
    }
    
    /* 
    !important gør at den overrider, 
    men det vil sige at hvis jeg 
    lavede en mediaquery 
    ved en højere breaking point, 
    ville det override der.
    */

    .hide-tablet{
        display: none;
    }
    
    section{
        height: calc(95vh - 4rem);
    }

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }
    
    /* CSS og Grid til forside*/

    .grid-splash{
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    }

    .name{
        padding-left: 2rem;
    }

    .intro{
        padding-left: 2rem;
    }
    
    .contact-promt{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        padding-left: 2rem;
    }

    .contact-splash-wrapper{    
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        padding-top: 1rem;
    }

    .scroll-button-wrapper{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
    }

    .icon-splash{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 6;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    /* css og grid til om mig siden*/
    
    .about-grid{
        display: grid;
        grid-template-columns: 1fr 0.25fr 1fr;
        grid-template-rows: 1fr 1fr 4fr 1fr 1fr;
        padding: 2rem;
        height: calc(80vh - 4rem);
    }

    .who{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        text-shadow: 5px 5px 12px rgba(0,0,0,1);
    }

    .about-info{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .about-image{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        box-shadow: 10px 10px 24px #000;
        border: solid 2px #151515;
        border-radius: 2px;
    }
    
    /*Grafiske vertikale headings*/

    .numbers-light{
        font-size: 4rem;
        font-weight: 800;
    }

    .line-horizontal{
        width: 5rem;
        height: 3px;
        margin-top: 7px;
        background-color: #CAD7E4;
    }

    .text-light{
        font-size: 1.5rem;
        font-weight: 600;
    }

    .headings-wrapper{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 3px;
    }

    .headings-box{
        width: 100vw;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* css til kompetence sektionen*/
    .grid-skills{
        height: calc(100% - 8rem);
    }

    /* css til kontakt sektionen */
    
    .contact{
        height: calc(100% - 8rem);
    }
    
    form{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .grid-contact-black{
        display: grid;
        grid-template-columns: 3.5rem auto 3.5rem;
        grid-template-rows: 1fr 2fr;
    }

    .icon-contact{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .address-black{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    h6{
        font-weight: 600;
        font-size: 1.2rem;
    }
    


}

